<div id="page-content">
  <div class="container" id = "home-container" >
    <div class="jumbotron text-center">
      <h1 class="display-2 " >Room 8</h1>
      <p class="lead text-white bg-dark">Welcome to Room 8. An easy way to keep roomates accountable for daily tasks, monthly payments, and other useful things
                      <br>It is free and easy to use!.</p>


      <%= link_to "Sign Up!", signup_path, class: "btn btn-secondary btn-lg btn-outline-light" %>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Enzo </small>
      <br>
      <%= link_to "Articles Listing", articles_path %>
     |
      <%= link_to "About page", about_path %>
    </div>
</footer>
